main {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    section {
        width: 50%;
    }
}


@media screen and (max-width: 1024px) {
    main {
        section {
            width: 100%;
        }
    }
}