* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    font-family: "Rubik", sans-serif;
    &:focus,
    &:active {
        outline: none !important;
    }
}

html,
body {
    position: fixed;
}

html,
body {
    position: relative;
    overflow: hidden;
}

body {
    position: fixed;
    overflow: hidden;
}

body {
    position: fixed;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    color: inherit;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.section {
    &__header {
        position: relative;
        z-index: 3;
        padding: 20px;
        &_desktop {
            display: block;
        }
        &_mob {
            display: none;
        }
    }

    &__title {
        text-transform: uppercase;
    }

    &__subtitle {
        font-weight: 400;
        letter-spacing: 0.24em;
    }
}

#parallax {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    .p1 {
        left: 10%;
        top: 10%;
    }
    .p2 {
        left: 25%;
        top: 30%;
    }
    .p3 {
        left: 15%;
        bottom: 30%;
    }
    .p4 {
        left: 10%;
        bottom: 10%;
    }
    .p5 {
        left: 45%;
        top: 10%;
    }
    .p6 {
        left: 40%;
        bottom: 10%;
    }
    .p7 {
        top: 20%;
        right: 30%;
    }
    .p8 {
        right: 30%;
        bottom: 20%;
    }
    .p9 {
        right: 10%;
        top: 10%;
    }
    .p10 {
        top: 45%;
        right: 20%;
    }
    .p11 {
        bottom: 10%;
        right: 10%;
    }
}

.canvas-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    #granim-canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-size: cover;
        background-position: 0 85%;
    }
    &.remove {
        display: none;
    }
}

.btn-contact {
    cursor: pointer;
    border: none;
    margin: 0 auto;
    background-color: #ff4c60;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    padding: 7px 25px;
    min-width: 150px;
    color: #f9f9ff;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #ffd15e;
        color: #353353;
    }
    &:active {
        background-color: #6b6be3;
        color: #f9f9ff;
    }
}

#facebook-icon {
    &:hover {
        color: #4867aa;
    }
}

#linkedin-icon {
    &:hover {
        color: #0077b5;
    }
}

#instagram-icon {
    &:hover {
        color: #bc1888;
    }
}

#telegram-icon {
    &:hover {
        color: #139bd0;
    }
}

#share-btn {
    display: none;
    &.active {
        display: inline-block;
    }
}

.close-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 15px;
    height: 15px;
    color: #353353;
    transition: color 0.3s ease-in-out;
    i {
        font-size: 16px;
    }
    &:hover {
        color: #ffd15e;
    }
    &:active {
        color: #6b6be3;
    }
}

@media screen and (max-width: 1024px) {
    .section {
        &__header {
            &_desktop {
                display: none;
            }
            &_mob {
                display: block;
            }
        }
        &__subtitle {
            letter-spacing: 0.2em;
        }
    }

    #parallax {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .section {
        &__title {
            font-size: 26px;
        }
        &__subtitle {
            font-size: 12px;
            letter-spacing: 0.045em;
        }
    }
    .btn-contact {
        border-radius: 25px;
        font-size: 12px;
        padding: 7px 15px;
        min-width: 110px;
    }
}
